.sl-markdown-content img {
  border-radius: 0.5rem;
  max-width: min(48rem, 100%);
  width: 100%;
  margin: 1rem auto;
}

.sl-markdown-content img.app-center {
  max-width: 24rem;
}

.sl-markdown-content img.app-left-center {
  max-width: 32rem;
}

.sl-markdown-content img.app-full {
  max-width: min(48rem, 100%);
}
